<header class="header">
    <div class="header__content">
      <div class="header__nav-wrapper">
        <div class="header__logo">
          <img class="header__logo-img" src="assets/logo/logo.jpg" alt="logo"/>
        </div>
        <nav class="header__navigation">
          <a routerLink="movies">Movies</a>
          <a routerLink="shows">TV Shows</a>
          <a routerLink="people">People</a>
        </nav>
      </div>
      <div class="header__aside">
        profile
      </div>
    </div>
</header>
