@import 'src/styles/constants/index';
@import 'src/styles/mixins/index';

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
  border: 1px solid $grey200;
  //width: 220px;
  border-radius: $imageBorderRadius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media-breakpoint-down('s') {
    width: 100%;
  }
  @include media-breakpoint-up('md') {
    width: 300px;
  }

  @include media-breakpoint-up('lg') {
    width: 250px;
  }

  @include media-breakpoint-up('lg1') {
    width: 220px;
  }


  img {
    width: 100%;
    border-top-left-radius: $imageBorderRadius;
    border-top-right-radius: $imageBorderRadius;
  }

  img:hover {
    transform: scale(1.05);
    transition: 0.5s;
  }

  &__content {
    width: 100%;
    padding: 20px 10px 12px;
    position: relative;
    white-space: normal;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-basis: 97px;

    h3 {
      font-size: 1em;
      margin-bottom: 5px;
      width: 100%;
      word-wrap: normal;
      overflow-wrap: break-word;
    }

    p {
      font-size: 1em;
      margin: 0;
      padding: 0;
    }
  }
}

.score-container {
  position: absolute;
  top: -25px;
  left: 15px;
}


