//GREY

$white: #FFFFFF;
$grey200: #F3F3FA;
$grey300: #DADAE2;
$grey400: #BABAC1;
$grey500: #88888A;
$grey600: #636376;
$grey700: #444463;
$grey800: #303240;
$grey900: #020423;

//Main colors

//Blue
$blue900: #080D45;
$blue500: #2A3990;
$blue400: #4A62ED;
$blue300: #CDD4FF;
$blue100: #E8ECFE;
$blue100: #E8ECFE;
$accountLightBlue: #01B4E4FF;

//Magenta
$magenta700: #701244;
$magenta500: #9C254D;
$magenta400: #D23369;
$magenta300: #F06292;
$magenta050: #FFF3F7;

//Green
$green900: #065535;
$green800: #1e6649;
$green700: #37765d;
$green600: #508871;
$green500: #699985;
$green400: #82aa9a;
$green300: #9bbbae;
$green200: #b4ccc2;
$green100: #cdddd6;

//red
$red500: D83549;



