@import "../constants/index";

@font-face {
  font-family: "SourceSansPro-Black";
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/source-sans-pro/SourceSansPro-Black.otf') format("opentype");
}

@font-face {
  font-family: "SourceSansPro-BlackIt";
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/source-sans-pro/SourceSansPro-BlackIt.otf') format("opentype");
}

@font-face {
  font-family: "SourceSansPro-Bold";
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/source-sans-pro/SourceSansPro-Bold.otf') format("opentype");
}

@font-face {
  font-family: "SourceSansPro-BoldIt";
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/source-sans-pro/SourceSansPro-BoldIt.otf') format("opentype");
}

@font-face {
  font-family: "SourceSansPro-ExtraLight";
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/source-sans-pro/SourceSansPro-ExtraLight.otf') format("opentype");
}

@font-face {
  font-family: "SourceSansPro-ExtraLightIt";
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/source-sans-pro/SourceSansPro-ExtraLightIt.otf') format("opentype");
}

@font-face {
  font-family: "SourceSansPro-It";
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/source-sans-pro/SourceSansPro-It.otf') format("opentype");
}

@font-face {
  font-family: "SourceSansPro-Light";
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/source-sans-pro/SourceSansPro-Light.otf') format("opentype");
}

@font-face {
  font-family: "SourceSansPro-LightIt";
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/source-sans-pro/SourceSansPro-LightIt.otf') format("opentype");
}

@font-face {
  font-family: "SourceSansPro-Regular";
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/source-sans-pro/SourceSansPro-Regular.otf') format("opentype");
}

@font-face {
  font-family: "SourceSansPro-Semibold";
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/source-sans-pro/SourceSansPro-Semibold.otf') format("opentype");
}

@font-face {
  font-family: "SourceSansPro-SemiboldIt";
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/source-sans-pro/SourceSansPro-SemiboldIt.otf') format("opentype");
}

